.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    h1 {
        margin-bottom: 5rem;
    }
    button {
        width: 50%;
    }
}

app-login-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    object-fit: cover;
    height: 100%;
}
