.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 5rem;
} 

.menu-grid-btn {
    font-family: "Oswald";
    padding: 2rem 6rem;
    font-size: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    border: none;
    &:hover {
        cursor: pointer;
        scale: 1.1;
        transition: 0.3s ease;
    }
} 
