.main {
    background-color: darkblue;
    font-family: "Segoe UI";
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
