.login-form {
    font-family: "Segoe UI";
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 25%;
    padding: 4rem;
    padding-bottom: 1.5rem;
    border-radius: 2rem;
    .input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
    }
    input {
        margin-bottom: 2rem;
        border: 1px solid lightgray;
        border-radius: 0.5rem;
        width: 100%;
        height: 1.5rem;
    }
    button {
        border-radius: 0.5rem;
        background-color: darkblue;
        border: none;
        color: white;
        width: 30%;
        align-self:flex-end;
        padding: 0.5rem;
    }
    button:hover {
        cursor: pointer;
    }
    .change-form {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
        margin-top: 2rem;
        align-self: flex-end;
    }
}