.login-form {
    font-family: "Oswald";
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    background-color: white;
    color: black;
    width: 30%;
    padding: 4rem;
    border-radius: 2rem;
    input {
        margin-bottom: 2rem;
        border: 1px solid lightgray;
        border-radius: 0.5rem;
        width: 100%;
    }
    button {
        border-radius: 0.5rem;
        background-color: darkblue;
        border: none;
        color: white;
    }
    button:hover {
        cursor: pointer;
    }
}