.team-container {
    background-color: white;
    color: black;
    width: 85%;
    height: 75%;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    .no-teams-found-message {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        text-align: center;
    }
}




