@import url('https://fonts.googleapis.com/css2?family=Segoe UI&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

* {
  font-family: "Segoe UI";
}

.main {
    background-color: darkblue;
    font-family: "Segoe UI";
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
