.main {
    font-family: "Segoe UI";
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.section {
    margin-top: 5rem;
}